.login {
  text-align: center;
}

.login h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background-color: #fafafa;
}

.login-form input:focus {
  border-color: #007bff;
  outline: none;
}

.login-form.dark input {
  background-color: #333;
  border-color: #555;
  color: #fff;
}

.login-form button {
  padding: 12px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form.dark button {
  background-color: #1f78d1;
}

.login-form.dark button:hover {
  background-color: #1664a8;
}
